input,
textarea,
select,
button {
  width: 250px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
    width: 25em;
    display: flex;
    flex-direction: column;
}

img{
    height: 18em;
    width: auto;
}