input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
    width: 20em;
    display: flex;
    flex-direction: column;
}

img{
    height: 1em;
}